/* landing page button to start things off */
#landingContainer {
    display: flex;
    flex-direction: row;
/*      flex-wrap: wrap;
     justify-content: space-evenly; */
     align-items: center;
  }

/* start button on the landing page */
#startBtn {
    font-size: 1.6rem;
    font-weight: 500;
    background: linear-gradient(#0BB7A2, #28e1df);
    margin: 6px 4px 12px 0;
    padding: 0.625rem;
    width: 15rem;
    border-radius: 28px;
    margin-top: 3.5rem;
  }

  /* Container for both quotes on landing page */
#quoteContainer {
    text-align: center;
  }
  
  #quote1 {
    font-size: xx-large;
  }
  
  #quote2 {
    font-size: larger;
    margin-top: 2rem;
  }
